td, th{
  border: #212525 solid;
  padding: 5px;
}

a{
  text-decoration: none;
  color:#212525;
  text-align: center;
}

img{
  width: 100%;
}

.card{
  width: 18rem;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container-new{
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-image{
  width: 400px;
  margin-bottom: 20px;
}

.buttonUp{
  background-color: #212525;
  width: 40px;
  height: 40px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 15px;
  font-size: 25px;
  border-radius: 12px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  z-index: 10000;
}

.carousel1{
  width: 100%;
  margin: auto;
  margin-top: -50px;
}

.logoImg{
  width: 170px;
}

.article-img{
  width: 500px;
}

.btn-contact{
  margin-right: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  table{
    font-size: 9px;
  }
  .card, .product-image, .article-img{
    width: 100%;
  }
  .product-info{
    justify-content: center;
  }
}